<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="navbar">
      <div class="navbar__logo">
        <img class="navbar__logo_img" src="./images/logo.png" alt="logo">
      </div>
        <div class="navbar__count">
        <p>2731 онлайн</p>
      </div>
      <!-- <div class="navbar__money">
        <div class="navbar__money_count">
          <img class="coin__logo" src="./images/coin.png" alt="coin">
        <p>550</p>
        </div>
        <p>купить коины</p>
      </div> -->
    </div>
  </header>

  <section>
    <div class="section__main">
      <div class="section__main_title"><h1>Все участники</h1></div>
      <div class="section__main_card">
        <div class="card section__card_1">
          <p class="card__status status_orange">ВЕБИНАР</p>
          <img src="./images/img_thumbnail_1.png" alt="Avatar" style="width:100%">
          <img class="card__avatar" src="./images/img_avatar.png" alt="avatar">
          <div class="container">
            <h5><b>johnandmaria</b></h5>
            <h4><b>Вебинар по блок-схемам для поступающих в вузы</b></h4>
            <p>Краткое описание видео примерно на 2 строчки</p>
            <button class="card__btn_orange card__btn">ИДЕТ ВЕБИНАР</button>
          </div>
        </div>

        <div class="card section__card_2">
          <p class="card__status status_green">ОНЛАЙН</p>
          <img src="./images/img_thumbnail_2.png" alt="Avatar" style="width:100%">
          <img class="card__avatar" src="./images/img_avatar.png" alt="avatar">
          <div class="container">
            <h5><b>Andy Sanders</b></h5>
            <h4><b>Презентация нового альбома</b></h4>
            <p>Краткое описание видео примерно на 2 строчки</p>
            <button class="card__btn_green card__btn">ВОЙТИ В ЧАТ</button>
          </div>
        </div>

        <div class="card section__card_3">
          <p class="card__status status_green">ОНЛАЙН</p>
          <img src="./images/img_thumbnail_3.png" alt="Avatar" style="width:100%">
          <img class="card__avatar" src="./images/img_avatar.png" alt="avatar">
          <div class="container">
            <h5><b>markskiinng</b></h5>
            <h4><b>Качусь с горы на лыжах онлайн</b></h4>
            <p>Краткое описание видео примерно на 2 строчки</p>
            <button class="card__btn_green card__btn">ВОЙТИ В ЧАТ</button>
          </div>
        </div>

        <div class="card section__card_4">
          <p class="card__status status_orange">ВЕБИНАР</p>
          <img src="./images/img_thumbnail_4.png" alt="Avatar" style="width:100%">
          <img class="card__avatar" src="./images/img_avatar.png" alt="avatar">
          <div class="container">
            <h5><b>product_master</b></h5>
            <h4><b>Как устроиться работать продукт менеджером</b></h4>
            <p>Краткое описание видео примерно на 2 строчки</p>
            <button class="card__btn_orange card__btn">ИДЕТ ВЕБИНАР</button>
          </div>
        </div>

        <div class="card section__card_5">
          <p class="card__status status_blue">В ПРИВАТЕ</p>
          <img src="./images/img_thumbnail_5.png" alt="Avatar" style="width:100%">
          <img class="card__avatar" src="./images/img_avatar.png" alt="avatar">
          <div class="container">
            <h5><b>veronika</b></h5>
            <h4><b>Разбираем летний гардероб</b></h4>
            <p>Краткое описание видео примерно на 2 строчки</p>
            <button class="card__btn_blue card__btn">ПРИВАТНОЕ ОБЩЕНИЕ</button>
          </div>
        </div>

        <div class="card section__card_6">
          <p class="card__status status_orange">ВЕБИНАР</p>
          <img src="./images/img_thumbnail_4.png" alt="Avatar" style="width:100%">
          <img class="card__avatar" src="./images/img_avatar.png" alt="avatar">
          <div class="container">
            <h5><b>product_master</b></h5>
            <h4><b>Как устроиться работать продукт менеджером</b></h4>
            <p>Краткое описание видео примерно на 2 строчки</p>
            <button class="card__btn_orange card__btn">ИДЕТ ВЕБИНАР</button>
          </div>
        </div>

        <div class="card section__card_7">
          <p class="card__status status_grey">НЕ В СЕТИ</p>
          <img src="./images/img_thumbnail_6.png" alt="Avatar" style="width:100%">
          <img class="card__avatar" src="./images/img_avatar.png" alt="avatar">
          <div class="container">
            <h5><b>3dmodeller</b></h5>
            <h4><b>3D моделинг в современной игровой индустрии</b></h4>
            <p>Краткое описание видео примерно на 2 строчки</p>
            <button class="card__btn_grey card__btn">НАПИСАТЬ УЧАСТНИКУ</button>
          </div>
        </div>

        <div class="card section__card_8">
          <p class="card__status status_blue">В ПРИВАТЕ</p>
          <img src="./images/img_thumbnail_5.png" alt="Avatar" style="width:100%">
          <img class="card__avatar" src="./images/img_avatar.png" alt="avatar">
          <div class="container">
            <h5><b>johnandmaria</b></h5>
            <h4><b>Разбираем летний гардероб</b></h4>
            <p>Краткое описание видео примерно на 2 строчки</p>
            <button class="card__btn_blue card__btn">ПРИВАТНОЕ ОБЩЕНИЕ</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>